.hidden {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.all{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a:hover,
a:focus{
    text-decoration: none;
}

/*common*/

.container { 
max-width: 320px;
padding-left:  16px;
padding-right:  16px;
margin: 0 auto;
}

@media screen and (min-width: 768px){
    .container { 
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px){
    .container { 
    max-width: 1158px;
    padding-left:  15px;
    padding-right:  15px;
    }
}

/*header*/
